.top-container{
    border: black 3px solid;
    display: flex;
    height: 800px;
    padding: 5px;
}

.search-box{
    border: black 3px solid;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 75%;
    padding: 5px;
}

.forecast-box{
    border: red 3px solid;
    display: flex;
    height: 600px;
    width: 70%;
    flex-direction: column;
    padding: 5px;
}

.display-box{
    border: black 3px solid;
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 5px;
}

.five-day-box{
    border: red 3px solid;
    display: flex;
    height: 200px;
    padding: 5px;
    width:200px
}

.future{
    border: green 3px solid;
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 5px;
    width:18%
}

#display-city{
    max-width: 300px;
}

#display-temp{
max-width: 100px;
}

#display-wind{
    max-width: 100px;
}

#display-UV{
    max-width: 100px;
}

#display-emoji{
    border: aquamarine 3px solid;
    width: 350px;
    align-self: flex-end;
    justify-self:baseline;
    height: 400px;
}

