.top-container{
    border: black 3px solid;
    display: flex;
    height: 450px;
    padding: 5px;
    background-color: rgb(215, 240, 240);
}

.search-box{
    border: black 3px solid;
    display: flex;
    flex-direction: column;
    height: 400px;
    width:26%;
    padding: 5px;
}

.forecast-box{
    border: red 3px solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    height: 400px;
    width: 42%;
    flex-direction: column;
    padding: 5px;
}

.display-box{
    border: black 3px solid;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 5px;
    font-size: x-large;
}

.five-day-box{
    border: red 3px solid;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    padding: 5px;
    width:100%;
    max-height: 220px;

}

.future{
    border: green 3px solid;
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 5px;
    width:18%
}

#display-city{
    max-width: 300px;
}

#display-temp{
max-width: 100px;
}

#display-wind{
    max-width: 100px;
}

#display-UV{
    max-width: 100px;
}

#display-emoji{
    border: aquamarine 3px solid;
    width: 26%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-icon{
    height: 325px;
    width: 325px;
}

.low{
 background-color: green;
 color: white;
}

.moderate{
    background-color: yellow;

}

.severe{
    background-color: red;
    color: white;
}